<html>
    <head>
        <title>Courses</title>
    </head>
    <body>
        <h1>Courses page</h1>

        {% if courses is not empty %}
            <p>These are the classes offered at Greendale</p>
            <ul>
                {% for course in courses %}
                    <form action="/courses/{{ course.getId }}">
                        <button type="submit">{{ course.getName }}</button>
                    </form>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="/courses" method="post">
            <input id="name" name="name" placeholder="Name">
            <input id="course_num" name="course_num" placeholder="Course Number">

            <button type="submit">Add</button>
        </form>

        <form action="/delete_courses" method="post">
            <button type="submit">Clear Courses</button>
        </form>

        <form action="/">
            <button type="submit">Back</button>
        </form>
    </body>
</html>
