<html>
    <head>
        <title>Greendale Registrar</title>
    </head>
    <body>
        <h1>Welcome to the Greendale registrar.</h1>

        <form action="/students">
            <button type="submit">Students</button>
        </form>

        <form action="/courses">
            <button type="submit">Courses</button>
        </form>
    </body>
</html>
