<html>
    <head>
        <title>Students</title>
    </head>
    <body>
        <h1>Students page</h1>

        {% if students is not empty %}
            <p>These are the enrolled students of Greendale</p>
            <ul>
                {% for student in students %}
                    <form action="/students/{{ student.getId }}">
                        <button type="submit">{{ student.getName }}</button>
                    </form>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="/students" method="post">
            <input id="name" name="name" placeholder="Name">
            <input id="date" name="date" placeholder="Enrolled: YYYY-MM-DD">

            <button type="submit">Add</button>
        </form>

        <form action="/delete_students" method="post">
            <button type="submit">Clear Students</button>
        </form>

        <form action="/">
            <button type="submit">Back</button>
        </form>
    </body>
</html>
